<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>House List</title>
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.130.1/build/three.module.js",
                "OrbitControls": "https://cdn.jsdelivr.net/npm/three@0.130.1/examples/jsm/controls/OrbitControls.js",
                "RoomEnvironment": "https://cdn.jsdelivr.net/npm/three@0.130.1/examples/jsm/environments/RoomEnvironment.js",
                "GLTFLoader": "https://cdn.jsdelivr.net/npm/three@0.130.1/examples/jsm/loaders/GLTFLoader.js",
                "DRACOLoader": "https://cdn.jsdelivr.net/npm/three@0.130.1/examples/jsm/loaders/DRACOLoader.js",
                "Stats": "https://cdnjs.cloudflare.com/ajax/libs/stats.js/r17/Stats.min.js"
            }
        }
    </script>
</head>
<body>
<div id="container">
    <script type="module" src="/house.js"></script>
</div>
</body>
</html>
